<template>
    <div class="flex items-center justify-beetwen">
        <div>
            <div class="w-96"><b class="pl-2">Name:</b>{{ comment.name }}</div>
            <div><b class="pl-2">Email:</b>{{ comment.email }}</div>
            <div><b class="pl-2">Content: </b>{{ comment.content }}</div>
        </div>
        <div>
            <my-button @click="$emit('remove', comment)" class="w-28 h-10 bg-red-500 mr-2 text-xl text-white rounded-md">
                Delete
            </my-button>
        </div>

    </div>
</template>
<script>
export default {
    props: {
        comment: {
        type: Object,
        required: true
    }   
    }
}
</script>