<template>
    <div v-if="comments.length > 0">
        <h3 class="text-center text-blue-500 text-xl">comments</h3>
        <comment-item 
         class="comment border-2 border-black mt-2"
         v-for="comment in comments" 
         :key="comment.id"
         :comment="comment"
         @remove="$emit('remove', comment)"
         />
    </div>
    <div v-else>
        <h2 class="text-center text-red-500 text-xl">Commentlarni topa olmadik</h2>
     </div>
</template>

<script>
import CommentItem from './CommentItem.vue';
export default {
    components:{
        CommentItem
    },
    props:{
         comments:{
        type: Array,
        required: true
    }
    }
}
</script>