<template>
    <div>
        <div class="w-96">
            <form @submit.prevent 
            class=" flex flex-col items-center justify-center border-[1px] border-black">
        
                <my-input class="w-80 h-10 outline-none mt-3 border-[1px] border-black pl-2" 
                v-model="comment.name"
                placeholder="Enter Your Name"
                />
        
                <my-input class="w-80 h-10 outline-none my-3 border-[1px] border-black pl-2" 
                v-model="comment.email"
                placeholder="Enter Your Email"
                />
        
                <my-input class="w-80 h-10 outline-none border-[1px] border-black pl-2" 
                v-model="comment.content"
                placeholder="Enter Your Content"
                />
        
                <my-button @click="createComment" class="w-40 h-10 rounded-xl bg-blue-500 mt-3 text-white my-4">
                    Add Comments
                </my-button>
            </form>
            </div>
    </div>
</template>

<script>
export default {
    data () {
        return{
        comment:{
            name: '',
            email: '',
            content: ''
            }
        }
    },
    methods: {
        createComment(){
            this.comment.id = Date.now();
            this.$emit('addComment', this.comment);
            this.comment = {
                name: '',
                email: '',
                content: ''
            }
        }
    },
}
</script>