import Over from '/components/OverView'

<template>
  <div  class="container h-screen flex flex-col items-center justify-center">
  <comment-form @addComment="createComment" />
  <comment-list :comments="comments" @remove="removeComment" />
  </div>
</template>
<script>
import CommentForm from './components/CommentForm';
import CommentList from './components/CommentList';

export default {
  components:{
    CommentForm,
    CommentList
  },
  data() {
    return {
     comments:[
        {id: 1, name:"Islom Makhmuov", email:"Islom@gmail.com", content:"Lorem Ipsum"}
        // {id: 2, name:"Ismoil Makhmuov", email:"Ismoil@gmail.com", content:"Lorem Ipsum"},
        // {id: 3, name:"Ibrohim Makhmuov", email:"Ibrohim@gmail.com", content:"Lorem Ipsum"}
     ],
    };
  },
  methods:{
   createComment(comment){
    this.comments.push(comment);
   },
   removeComment(comment){
   this.comments = this.comments.filter(c => c.id !== comment.id);
   }
   }
  } 
</script>
